:root {
  --theme-color: #2196f3;
  --text-primary: #212121;
  --text-secondary: #757575;
  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
}
/* Глобальные стили */
body {
  font-family: var(--primary-font), sans-serif;
  color: var(--text-primary);
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Хедер */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--theme-color);
}

.logo-header-word {
  color: #000;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-primary);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--theme-color);
}
.nav-link-active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--theme-color);
}

.contact-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary);
}
.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--theme-color);
}
/* Герой */
.hero-box {
  background-color: #2f303a;
}

.hero-box-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: #fff;
}
/* Особенности */
.feature-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-item-desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}
/* Направления деятельности */
.activities-box-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* Наша команда */
.team-box {
  background-color: #f5f4fa;
}

.team-box-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list-item-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}
/* Футер */
.footer-box {
  background-color: #2f303a;
}

.logo-footer-word {
  color: #fff;
}

address {
  font-style: normal;
}

.adress-section {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.adress-item-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress-item-link:hover,
.adress-item-link:focus {
  color: var(--theme-color);
}

/* 2-Портфолио-2 */

/* Фильтры */

.filter-item-botton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
}

.filter-item-botton:hover,
.filter-item-botton:focus {
  background-color: var(--theme-color);
  color: #fff;
  cursor: pointer;
}

/* Проекты */
.project-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-primary);
}

.project-item-desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}
